

<form method="POST">
    {% csrf_token %}

  
    <h4>Inicio de sesión</h4>

    <i class="fa fa-user-circle" aria-hidden="true"></i> <span>Ingrese su Username<span> </i>        
    <input class="controls" type="text" name="username" id="correo" placeholder="ejemplo yaranahaina">
    
    
    <i class="fas fa-key icon"> <span>Ingrese su contraseña<span></i>
    <input class="controls" type="password" name="password" id="password" placeholder="*********">
        
        
        
    <input type="submit" class="botons btn-success" id="enviar" value="Ingresar✔">
    <input type="reset"  class="botons btn-warning" id="limpiar" value="Limpiar campos 🚿">
        
    <p>¿No tienes una cuenta? <a class="link" href="/form_persona"></i> Registrate<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></p>
    <p>Tambíen puedes entrar<a class="link" href="{%  url 'home' %}"> como invitado<i class="fa fa-user" aria-hidden="true"></i></a></p>
    
</form>

